{% extends 'base.html' %}

{% block title %} Иерархия организации {% endblock %}

{% block content %}
    {% if hierarchy %}

    {% for h in hierarchy.data %}
    <ul>
    <li>Уровень департамента {{ h.level }}</li>
    <ul>
    {% for departments_items in h.departments %}
    <li>Название департамента {{ departments_items.departments_name }}</li>


        <li>Сотрудники: </li>
    {% for worker in departments_items.workers %}
<li>{{worker}}</li>


    {% endfor %}

    {% endfor %}
    {% endfor %}

        </ul>
        </ul>
    {% else %}
        Данных нет
    {% endif %}
{% endblock %}