{% extends 'base.html' %}

{% block title %} Информация о работнике {{ worker.name }} {% endblock %}

{% block content %}
 <div class="row">
    <div class="col-md-8 offset-md-2 p-3 border bg-light">
    {% if worker %}
     <h2>{{ worker.name }}</h2>
     <p>Должность: {{ worker.title }}</p>
     <p>Дата устройства: {{ worker.date_employment }}</p>
     <p>Зарплата: {{ worker.salary_range }}</p>
    {% else %}
        Данных нет
    {% endif %}
<form>
 <input type="button" value="Back to org" onclick="history.back()">
</form>
    </div>
 </div>
{% endblock %}